nav ul div, .cont{
    display: none;
}

.logo{
    font-size: 2rem;
}

.burger{
    display: flex;
    font-size: 2.5rem;
}

.texts ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.texts ul li a{
    flex-wrap: wrap;
}

header nav{
    display: none;
}

