
/* LANDING VIDEO */
.landing-video{
    height: 60vh;
    width: 80vw;
    position: relative;
    z-index: 1;
    top: -5rem;
    left: 2.5rem;  
}

.landing-video video{
    height: 100%;
    width: 100%;
    border-radius: 3rem;  
}